<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   ImageFilterApp

   Created by Takayuki Sakamoto on 2026/04/14.
   Copyright (c) 2026 ___ORGANIZATIONNAME___. All rights reserved.
-->
<key>NSPhotoLibraryAddUsageDescription</key>
<string>画像を保存するために使用します</string>

<plist version="1.0">
<dict/>
</plist>
